/* CSS Document */

html, body {
	
	margin: 0 auto;
	font-family: sans-serif;
	font-size: 13px;
	 }
	
h1 {
	margin: 2px;}
	
button {
	font-size: 12px;
	font-weight: bold;
	padding: 8px; }
	
div#content {
    width: 700px;
    margin:0 auto;
	padding: 20px;
	border: 2px solid rgb(255, 172, 230);
}
	
div#controls {
	text-align: right; }
	
	
div#controls button {
	margin-left: 20px; }
	

	
div#gamespace {
	margin: 20px;
	padding: 10px;
	height: 350px;
	background-color: #FFF;
	border: 2px solid rgb(255, 172, 230); }

#gamespace .maidenDeath img {
	max-width: 120px;
}
